--------------------------------------------------------
--  파일이 생성됨 - 수요일-7월-06-2022   
--------------------------------------------------------
--------------------------------------------------------
--  DDL for Table TBL_COMPONENT
--------------------------------------------------------

  CREATE TABLE "TBL_COMPONENT" 
   (	"PARTCODE" NUMBER(8,0), 
	"PRODUCTCODE" NUMBER(8,0), 
	"PARTQUANTITIY" NUMBER(8,0)
   ) SEGMENT CREATION IMMEDIATE 
  PCTFREE 10 PCTUSED 40 INITRANS 1 MAXTRANS 255 NOCOMPRESS LOGGING
  STORAGE(INITIAL 65536 NEXT 1048576 MINEXTENTS 1 MAXEXTENTS 2147483645
  PCTINCREASE 0 FREELISTS 1 FREELIST GROUPS 1 BUFFER_POOL DEFAULT FLASH_CACHE DEFAULT CELL_FLASH_CACHE DEFAULT)
  TABLESPACE "SYSTEM" ;

   COMMENT ON COLUMN "TBL_COMPONENT"."PARTCODE" IS '제품에 사용한 품목코드';
   COMMENT ON COLUMN "TBL_COMPONENT"."PRODUCTCODE" IS '품목사용 제품코드';
   COMMENT ON COLUMN "TBL_COMPONENT"."PARTQUANTITIY" IS '제품에 사용한 품목수량';
   COMMENT ON TABLE "TBL_COMPONENT"  IS '2022-07-01 최초작성';
--------------------------------------------------------
--  DDL for Table TBL_EXPORT
--------------------------------------------------------

  CREATE TABLE "TBL_EXPORT" 
   (	"EXPORT_NO" NUMBER(8,0), 
	"EXPORT_DATE" DATE, 
	"EXPORTQUANTITY" NUMBER(8,0), 
	"PARTCODE" NUMBER(8,0)
   ) SEGMENT CREATION IMMEDIATE 
  PCTFREE 10 PCTUSED 40 INITRANS 1 MAXTRANS 255 NOCOMPRESS LOGGING
  STORAGE(INITIAL 65536 NEXT 1048576 MINEXTENTS 1 MAXEXTENTS 2147483645
  PCTINCREASE 0 FREELISTS 1 FREELIST GROUPS 1 BUFFER_POOL DEFAULT FLASH_CACHE DEFAULT CELL_FLASH_CACHE DEFAULT)
  TABLESPACE "SYSTEM" ;

   COMMENT ON COLUMN "TBL_EXPORT"."EXPORT_NO" IS '출고번호';
   COMMENT ON COLUMN "TBL_EXPORT"."EXPORT_DATE" IS '출고날짜';
   COMMENT ON COLUMN "TBL_EXPORT"."EXPORTQUANTITY" IS '출고량';
   COMMENT ON COLUMN "TBL_EXPORT"."PARTCODE" IS '부품코드';
   COMMENT ON TABLE "TBL_EXPORT"  IS '2022-07-01 최초작성';
--------------------------------------------------------
--  DDL for Table TBL_PART
--------------------------------------------------------

  CREATE TABLE "TBL_PART" 
   (	"PARTCODE" NUMBER(8,0), 
	"PARTNAME" VARCHAR2(200 BYTE), 
	"NICKNAME" VARCHAR2(200 BYTE), 
	"LIBARY" VARCHAR2(200 BYTE), 
	"DRW_NO" NUMBER(8,0), 
	"DRW_IMG" VARCHAR2(255 BYTE), 
	"COMMON" NUMBER(1,0) DEFAULT 0, 
	"REMARK" VARCHAR2(200 BYTE)
   ) SEGMENT CREATION IMMEDIATE 
  PCTFREE 10 PCTUSED 40 INITRANS 1 MAXTRANS 255 NOCOMPRESS LOGGING
  STORAGE(INITIAL 65536 NEXT 1048576 MINEXTENTS 1 MAXEXTENTS 2147483645
  PCTINCREASE 0 FREELISTS 1 FREELIST GROUPS 1 BUFFER_POOL DEFAULT FLASH_CACHE DEFAULT CELL_FLASH_CACHE DEFAULT)
  TABLESPACE "SYSTEM" ;

   COMMENT ON COLUMN "TBL_PART"."PARTCODE" IS '제품 자재(part) 구분용';
   COMMENT ON COLUMN "TBL_PART"."PARTNAME" IS '부품이름';
   COMMENT ON COLUMN "TBL_PART"."NICKNAME" IS '약칭 혹은 패키지이름';
   COMMENT ON COLUMN "TBL_PART"."LIBARY" IS '대 중 소 분류';
   COMMENT ON COLUMN "TBL_PART"."DRW_NO" IS '회로도 번호';
   COMMENT ON COLUMN "TBL_PART"."DRW_IMG" IS '.drw 만 저장';
   COMMENT ON COLUMN "TBL_PART"."COMMON" IS '공용:0 전용:1';
   COMMENT ON COLUMN "TBL_PART"."REMARK" IS '크기 단위 부가설명';
   COMMENT ON TABLE "TBL_PART"  IS '2022-07-02 최초작성';
--------------------------------------------------------
--  DDL for Table TBL_PRODUCT
--------------------------------------------------------

  CREATE TABLE "TBL_PRODUCT" 
   (	"PRODUCTCODE" NUMBER(8,0), 
	"PRODUCTNAME" VARCHAR2(200 BYTE)
   ) SEGMENT CREATION IMMEDIATE 
  PCTFREE 10 PCTUSED 40 INITRANS 1 MAXTRANS 255 NOCOMPRESS LOGGING
  STORAGE(INITIAL 65536 NEXT 1048576 MINEXTENTS 1 MAXEXTENTS 2147483645
  PCTINCREASE 0 FREELISTS 1 FREELIST GROUPS 1 BUFFER_POOL DEFAULT FLASH_CACHE DEFAULT CELL_FLASH_CACHE DEFAULT)
  TABLESPACE "SYSTEM" ;

   COMMENT ON COLUMN "TBL_PRODUCT"."PRODUCTCODE" IS '제품코드';
   COMMENT ON COLUMN "TBL_PRODUCT"."PRODUCTNAME" IS '제품명';
   COMMENT ON TABLE "TBL_PRODUCT"  IS '2022-07-02 최초작성';
--------------------------------------------------------
--  DDL for Table TBL_PRODUCTPLAN
--------------------------------------------------------

  CREATE TABLE "TBL_PRODUCTPLAN" 
   (	"PLANCODE" NUMBER(8,0), 
	"PRODUCTQUANTITY" NUMBER(20,0), 
	"PRODUCTDATE" DATE, 
	"PRODUCTCODE" NUMBER(8,0)
   ) SEGMENT CREATION IMMEDIATE 
  PCTFREE 10 PCTUSED 40 INITRANS 1 MAXTRANS 255 NOCOMPRESS LOGGING
  STORAGE(INITIAL 65536 NEXT 1048576 MINEXTENTS 1 MAXEXTENTS 2147483645
  PCTINCREASE 0 FREELISTS 1 FREELIST GROUPS 1 BUFFER_POOL DEFAULT FLASH_CACHE DEFAULT CELL_FLASH_CACHE DEFAULT)
  TABLESPACE "SYSTEM" ;

   COMMENT ON COLUMN "TBL_PRODUCTPLAN"."PLANCODE" IS '생산일정번호';
   COMMENT ON COLUMN "TBL_PRODUCTPLAN"."PRODUCTQUANTITY" IS '제품생산수량';
   COMMENT ON COLUMN "TBL_PRODUCTPLAN"."PRODUCTDATE" IS '생산일자';
   COMMENT ON COLUMN "TBL_PRODUCTPLAN"."PRODUCTCODE" IS '제품코드';
   COMMENT ON TABLE "TBL_PRODUCTPLAN"  IS '2022-07-01 최초작성';
REM INSERTING into exporttest.TBL_COMPONENT
SET DEFINE OFF;
Insert into exporttest.TBL_COMPONENT (PARTCODE,PRODUCTCODE,PARTQUANTITIY) values (10001,1,1);
Insert into exporttest.TBL_COMPONENT (PARTCODE,PRODUCTCODE,PARTQUANTITIY) values (10002,1,1);
Insert into exporttest.TBL_COMPONENT (PARTCODE,PRODUCTCODE,PARTQUANTITIY) values (10003,1,1);
Insert into exporttest.TBL_COMPONENT (PARTCODE,PRODUCTCODE,PARTQUANTITIY) values (20001,1,1);
Insert into exporttest.TBL_COMPONENT (PARTCODE,PRODUCTCODE,PARTQUANTITIY) values (30001,1,1);
Insert into exporttest.TBL_COMPONENT (PARTCODE,PRODUCTCODE,PARTQUANTITIY) values (30002,1,1);
Insert into exporttest.TBL_COMPONENT (PARTCODE,PRODUCTCODE,PARTQUANTITIY) values (40001,1,1);
Insert into exporttest.TBL_COMPONENT (PARTCODE,PRODUCTCODE,PARTQUANTITIY) values (40002,1,1);
Insert into exporttest.TBL_COMPONENT (PARTCODE,PRODUCTCODE,PARTQUANTITIY) values (40003,1,1);
Insert into exporttest.TBL_COMPONENT (PARTCODE,PRODUCTCODE,PARTQUANTITIY) values (50001,1,2);
Insert into exporttest.TBL_COMPONENT (PARTCODE,PRODUCTCODE,PARTQUANTITIY) values (50002,1,12);
Insert into exporttest.TBL_COMPONENT (PARTCODE,PRODUCTCODE,PARTQUANTITIY) values (50003,1,1);
Insert into exporttest.TBL_COMPONENT (PARTCODE,PRODUCTCODE,PARTQUANTITIY) values (50004,1,1);
Insert into exporttest.TBL_COMPONENT (PARTCODE,PRODUCTCODE,PARTQUANTITIY) values (50005,1,1);
Insert into exporttest.TBL_COMPONENT (PARTCODE,PRODUCTCODE,PARTQUANTITIY) values (60001,1,4);
Insert into exporttest.TBL_COMPONENT (PARTCODE,PRODUCTCODE,PARTQUANTITIY) values (60002,1,2);
Insert into exporttest.TBL_COMPONENT (PARTCODE,PRODUCTCODE,PARTQUANTITIY) values (60003,1,1);
Insert into exporttest.TBL_COMPONENT (PARTCODE,PRODUCTCODE,PARTQUANTITIY) values (70001,1,6);
Insert into exporttest.TBL_COMPONENT (PARTCODE,PRODUCTCODE,PARTQUANTITIY) values (70002,1,6);
Insert into exporttest.TBL_COMPONENT (PARTCODE,PRODUCTCODE,PARTQUANTITIY) values (80001,1,1);
Insert into exporttest.TBL_COMPONENT (PARTCODE,PRODUCTCODE,PARTQUANTITIY) values (80002,1,10);
Insert into exporttest.TBL_COMPONENT (PARTCODE,PRODUCTCODE,PARTQUANTITIY) values (90001,1,1);
Insert into exporttest.TBL_COMPONENT (PARTCODE,PRODUCTCODE,PARTQUANTITIY) values (100001,1,2);
Insert into exporttest.TBL_COMPONENT (PARTCODE,PRODUCTCODE,PARTQUANTITIY) values (110001,1,1);
Insert into exporttest.TBL_COMPONENT (PARTCODE,PRODUCTCODE,PARTQUANTITIY) values (120001,1,1);
Insert into exporttest.TBL_COMPONENT (PARTCODE,PRODUCTCODE,PARTQUANTITIY) values (130001,1,1);
Insert into exporttest.TBL_COMPONENT (PARTCODE,PRODUCTCODE,PARTQUANTITIY) values (50001,2,5);
Insert into exporttest.TBL_COMPONENT (PARTCODE,PRODUCTCODE,PARTQUANTITIY) values (80001,2,5);
Insert into exporttest.TBL_COMPONENT (PARTCODE,PRODUCTCODE,PARTQUANTITIY) values (100001,2,5);
Insert into exporttest.TBL_COMPONENT (PARTCODE,PRODUCTCODE,PARTQUANTITIY) values (120001,2,5);
Insert into exporttest.TBL_COMPONENT (PARTCODE,PRODUCTCODE,PARTQUANTITIY) values (140001,2,5);
Insert into exporttest.TBL_COMPONENT (PARTCODE,PRODUCTCODE,PARTQUANTITIY) values (50003,3,10);
Insert into exporttest.TBL_COMPONENT (PARTCODE,PRODUCTCODE,PARTQUANTITIY) values (100001,3,10);
Insert into exporttest.TBL_COMPONENT (PARTCODE,PRODUCTCODE,PARTQUANTITIY) values (120001,3,10);
Insert into exporttest.TBL_COMPONENT (PARTCODE,PRODUCTCODE,PARTQUANTITIY) values (150001,3,10);
REM INSERTING into exporttest.TBL_EXPORT
SET DEFINE OFF;
REM INSERTING into exporttest.TBL_PART
SET DEFINE OFF;
Insert into exporttest.TBL_PART (PARTCODE,PARTNAME,NICKNAME,LIBARY,DRW_NO,DRW_IMG,COMMON,REMARK) values (10001,'적외선송신IC','PT2248','대분류',1,'SE-IRAv1.2.drw',1,'16P DIP');
Insert into exporttest.TBL_PART (PARTCODE,PARTNAME,NICKNAME,LIBARY,DRW_NO,DRW_IMG,COMMON,REMARK) values (10002,'적외선수신IC','PT2249','대분류',1,'SE-IRAv1.2.drw',1,'16P DIP');
Insert into exporttest.TBL_PART (PARTCODE,PARTNAME,NICKNAME,LIBARY,DRW_NO,DRW_IMG,COMMON,REMARK) values (10003,'적외선수신모듈','KSM_603LM','대분류',1,'SE-IRAv1.2.drw',1,null);
Insert into exporttest.TBL_PART (PARTCODE,PARTNAME,NICKNAME,LIBARY,DRW_NO,DRW_IMG,COMMON,REMARK) values (20001,'쎄라믹발진기','CSB455EB','대분류',1,'SE-IRAv1.2.drw',1,null);
Insert into exporttest.TBL_PART (PARTCODE,PARTNAME,NICKNAME,LIBARY,DRW_NO,DRW_IMG,COMMON,REMARK) values (30001,'NPN트랜지스터','2SC3198','대분류',1,'SE-IRAv1.2.drw',1,null);
Insert into exporttest.TBL_PART (PARTCODE,PARTNAME,NICKNAME,LIBARY,DRW_NO,DRW_IMG,COMMON,REMARK) values (30002,'PNP트랜지스터','2SC1266','대분류',1,'SE-IRAv1.2.drw',1,null);
Insert into exporttest.TBL_PART (PARTCODE,PARTNAME,NICKNAME,LIBARY,DRW_NO,DRW_IMG,COMMON,REMARK) values (40001,'적외선발광DIODE','IWL-I5R30F','대분류',1,'SE-IRAv1.2.drw',1,null);
Insert into exporttest.TBL_PART (PARTCODE,PARTNAME,NICKNAME,LIBARY,DRW_NO,DRW_IMG,COMMON,REMARK) values (40002,'스위칭DIODE','1N4148','대분류',1,'SE-IRAv1.2.drw',1,null);
Insert into exporttest.TBL_PART (PARTCODE,PARTNAME,NICKNAME,LIBARY,DRW_NO,DRW_IMG,COMMON,REMARK) values (40003,'정류DIODE','1N4007','대분류',1,'SE-IRAv1.2.drw',1,null);
Insert into exporttest.TBL_PART (PARTCODE,PARTNAME,NICKNAME,LIBARY,DRW_NO,DRW_IMG,COMMON,REMARK) values (50001,'39K 저항',null,'대분류',1,'SE-IRAv1.2.drw',0,'39K');
Insert into exporttest.TBL_PART (PARTCODE,PARTNAME,NICKNAME,LIBARY,DRW_NO,DRW_IMG,COMMON,REMARK) values (50002,'3.3K 저항',null,'대분류',1,'SE-IRAv1.2.drw',1,'3.3K');
Insert into exporttest.TBL_PART (PARTCODE,PARTNAME,NICKNAME,LIBARY,DRW_NO,DRW_IMG,COMMON,REMARK) values (50003,'2 저항',null,'대분류',1,'SE-IRAv1.2.drw',0,'2 ohm');
Insert into exporttest.TBL_PART (PARTCODE,PARTNAME,NICKNAME,LIBARY,DRW_NO,DRW_IMG,COMMON,REMARK) values (50004,'47 저항',null,'대분류',1,'SE-IRAv1.2.drw',1,'47 ohm');
Insert into exporttest.TBL_PART (PARTCODE,PARTNAME,NICKNAME,LIBARY,DRW_NO,DRW_IMG,COMMON,REMARK) values (50005,'180 저항',null,'대분류',1,'SE-IRAv1.2.drw',1,'180 ohm');
Insert into exporttest.TBL_PART (PARTCODE,PARTNAME,NICKNAME,LIBARY,DRW_NO,DRW_IMG,COMMON,REMARK) values (60001,'전해콘덴서',null,'대분류',1,'SE-IRAv1.2.drw',1,'47uf 내압 16V');
Insert into exporttest.TBL_PART (PARTCODE,PARTNAME,NICKNAME,LIBARY,DRW_NO,DRW_IMG,COMMON,REMARK) values (60002,'쎄라믹콘덴서',null,'대분류',1,'SE-IRAv1.2.drw',1,'120pF (121)');
Insert into exporttest.TBL_PART (PARTCODE,PARTNAME,NICKNAME,LIBARY,DRW_NO,DRW_IMG,COMMON,REMARK) values (60003,'스티롤콘덴서',null,'대분류',1,'SE-IRAv1.2.drw',1,'1000pF (102)');
Insert into exporttest.TBL_PART (PARTCODE,PARTNAME,NICKNAME,LIBARY,DRW_NO,DRW_IMG,COMMON,REMARK) values (70001,'LED-적색',null,'대분류',1,'SE-IRAv1.2.drw',1,null);
Insert into exporttest.TBL_PART (PARTCODE,PARTNAME,NICKNAME,LIBARY,DRW_NO,DRW_IMG,COMMON,REMARK) values (70002,'LED-녹색',null,'대분류',1,'SE-IRAv1.2.drw',1,null);
Insert into exporttest.TBL_PART (PARTCODE,PARTNAME,NICKNAME,LIBARY,DRW_NO,DRW_IMG,COMMON,REMARK) values (80001,'3P 슬라이드스위치',null,'대분류',1,'SE-IRAv1.2.drw',0,null);
Insert into exporttest.TBL_PART (PARTCODE,PARTNAME,NICKNAME,LIBARY,DRW_NO,DRW_IMG,COMMON,REMARK) values (80002,'택트스위치',null,'대분류',1,'SE-IRAv1.2.drw',1,null);
Insert into exporttest.TBL_PART (PARTCODE,PARTNAME,NICKNAME,LIBARY,DRW_NO,DRW_IMG,COMMON,REMARK) values (90001,'5V 정전압 IC','MC7805','대분류',1,'SE-IRAv1.2.drw',1,null);
Insert into exporttest.TBL_PART (PARTCODE,PARTNAME,NICKNAME,LIBARY,DRW_NO,DRW_IMG,COMMON,REMARK) values (100001,'아답터짹',null,'대분류',1,'SE-IRAv1.2.drw',1,null);
Insert into exporttest.TBL_PART (PARTCODE,PARTNAME,NICKNAME,LIBARY,DRW_NO,DRW_IMG,COMMON,REMARK) values (110001,'16P IC소켓',null,'대분류',1,'SE-IRAv1.2.drw',0,null);
Insert into exporttest.TBL_PART (PARTCODE,PARTNAME,NICKNAME,LIBARY,DRW_NO,DRW_IMG,COMMON,REMARK) values (130001,'2AA 전지홀더',null,'대분류',1,'SE-IRAv1.2.drw',1,'3V');
Insert into exporttest.TBL_PART (PARTCODE,PARTNAME,NICKNAME,LIBARY,DRW_NO,DRW_IMG,COMMON,REMARK) values (120001,'배선',null,'대분류',1,'SE-IRAv1.2.drw',0,'2M');
Insert into exporttest.TBL_PART (PARTCODE,PARTNAME,NICKNAME,LIBARY,DRW_NO,DRW_IMG,COMMON,REMARK) values (140001,'스피커모듈',null,'대분류',5,'TV.drw',1,'TV용 내장스피커');
Insert into exporttest.TBL_PART (PARTCODE,PARTNAME,NICKNAME,LIBARY,DRW_NO,DRW_IMG,COMMON,REMARK) values (150001,'타이머',null,'대분류',10,'laundry.drw',1,'세탁기용타이머');
Insert into exporttest.TBL_PART (PARTCODE,PARTNAME,NICKNAME,LIBARY,DRW_NO,DRW_IMG,COMMON,REMARK) values (160001,'LCD',null,'중분류',2,'remote.drw',1,'디스플레이');
Insert into exporttest.TBL_PART (PARTCODE,PARTNAME,NICKNAME,LIBARY,DRW_NO,DRW_IMG,COMMON,REMARK) values (170001,'케이스',null,'소분류',3,'remote.drw',1,'플라스틱');
REM INSERTING into exporttest.TBL_PRODUCT
SET DEFINE OFF;
Insert into exporttest.TBL_PRODUCT (PRODUCTCODE,PRODUCTNAME) values (1,'리모콘');
Insert into exporttest.TBL_PRODUCT (PRODUCTCODE,PRODUCTNAME) values (2,'TV');
Insert into exporttest.TBL_PRODUCT (PRODUCTCODE,PRODUCTNAME) values (3,'세탁기');
Insert into exporttest.TBL_PRODUCT (PRODUCTCODE,PRODUCTNAME) values (4,'아두이노R3');
Insert into exporttest.TBL_PRODUCT (PRODUCTCODE,PRODUCTNAME) values (5,'오디오');
REM INSERTING into exporttest.TBL_PRODUCTPLAN
SET DEFINE OFF;
Insert into exporttest.TBL_PRODUCTPLAN (PLANCODE,PRODUCTQUANTITY,PRODUCTDATE,PRODUCTCODE) values (1,100,to_date('22/07/15','RR/MM/DD'),1);
Insert into exporttest.TBL_PRODUCTPLAN (PLANCODE,PRODUCTQUANTITY,PRODUCTDATE,PRODUCTCODE) values (2,200,to_date('22/08/15','RR/MM/DD'),2);
Insert into exporttest.TBL_PRODUCTPLAN (PLANCODE,PRODUCTQUANTITY,PRODUCTDATE,PRODUCTCODE) values (3,50,to_date('22/07/20','RR/MM/DD'),3);
Insert into exporttest.TBL_PRODUCTPLAN (PLANCODE,PRODUCTQUANTITY,PRODUCTDATE,PRODUCTCODE) values (4,50,to_date('22/08/15','RR/MM/DD'),1);
Insert into exporttest.TBL_PRODUCTPLAN (PLANCODE,PRODUCTQUANTITY,PRODUCTDATE,PRODUCTCODE) values (5,10,to_date('22/07/20','RR/MM/DD'),2);
Insert into exporttest.TBL_PRODUCTPLAN (PLANCODE,PRODUCTQUANTITY,PRODUCTDATE,PRODUCTCODE) values (6,20,to_date('22/07/20','RR/MM/DD'),3);
--------------------------------------------------------
--  DDL for Index COMPONENT_PK
--------------------------------------------------------

  CREATE UNIQUE INDEX "COMPONENT_PK" ON "TBL_COMPONENT" ("PARTCODE", "PRODUCTCODE") 
  PCTFREE 10 INITRANS 2 MAXTRANS 255 COMPUTE STATISTICS 
  STORAGE(INITIAL 65536 NEXT 1048576 MINEXTENTS 1 MAXEXTENTS 2147483645
  PCTINCREASE 0 FREELISTS 1 FREELIST GROUPS 1 BUFFER_POOL DEFAULT FLASH_CACHE DEFAULT CELL_FLASH_CACHE DEFAULT)
  TABLESPACE "SYSTEM" ;
--------------------------------------------------------
--  DDL for Index SYS_C008329
--------------------------------------------------------

  CREATE UNIQUE INDEX "SYS_C008329" ON "TBL_EXPORT" ("EXPORT_NO") 
  PCTFREE 10 INITRANS 2 MAXTRANS 255 COMPUTE STATISTICS 
  STORAGE(INITIAL 65536 NEXT 1048576 MINEXTENTS 1 MAXEXTENTS 2147483645
  PCTINCREASE 0 FREELISTS 1 FREELIST GROUPS 1 BUFFER_POOL DEFAULT FLASH_CACHE DEFAULT CELL_FLASH_CACHE DEFAULT)
  TABLESPACE "SYSTEM" ;
--------------------------------------------------------
--  DDL for Index SYS_C008319
--------------------------------------------------------

  CREATE UNIQUE INDEX "SYS_C008319" ON "TBL_PART" ("PARTCODE") 
  PCTFREE 10 INITRANS 2 MAXTRANS 255 COMPUTE STATISTICS 
  STORAGE(INITIAL 65536 NEXT 1048576 MINEXTENTS 1 MAXEXTENTS 2147483645
  PCTINCREASE 0 FREELISTS 1 FREELIST GROUPS 1 BUFFER_POOL DEFAULT FLASH_CACHE DEFAULT CELL_FLASH_CACHE DEFAULT)
  TABLESPACE "SYSTEM" ;
--------------------------------------------------------
--  DDL for Index SYS_C008308
--------------------------------------------------------

  CREATE UNIQUE INDEX "SYS_C008308" ON "TBL_PRODUCT" ("PRODUCTCODE") 
  PCTFREE 10 INITRANS 2 MAXTRANS 255 COMPUTE STATISTICS 
  STORAGE(INITIAL 65536 NEXT 1048576 MINEXTENTS 1 MAXEXTENTS 2147483645
  PCTINCREASE 0 FREELISTS 1 FREELIST GROUPS 1 BUFFER_POOL DEFAULT FLASH_CACHE DEFAULT CELL_FLASH_CACHE DEFAULT)
  TABLESPACE "SYSTEM" ;
--------------------------------------------------------
--  DDL for Index SYS_C008313
--------------------------------------------------------

  CREATE UNIQUE INDEX "SYS_C008313" ON "TBL_PRODUCTPLAN" ("PLANCODE") 
  PCTFREE 10 INITRANS 2 MAXTRANS 255 COMPUTE STATISTICS 
  STORAGE(INITIAL 65536 NEXT 1048576 MINEXTENTS 1 MAXEXTENTS 2147483645
  PCTINCREASE 0 FREELISTS 1 FREELIST GROUPS 1 BUFFER_POOL DEFAULT FLASH_CACHE DEFAULT CELL_FLASH_CACHE DEFAULT)
  TABLESPACE "SYSTEM" ;
--------------------------------------------------------
--  Constraints for Table TBL_COMPONENT
--------------------------------------------------------

  ALTER TABLE "TBL_COMPONENT" MODIFY ("PARTCODE" NOT NULL ENABLE);
  ALTER TABLE "TBL_COMPONENT" MODIFY ("PRODUCTCODE" NOT NULL ENABLE);
  ALTER TABLE "TBL_COMPONENT" MODIFY ("PARTQUANTITIY" NOT NULL ENABLE);
  ALTER TABLE "TBL_COMPONENT" ADD CONSTRAINT "COMPONENT_PK" PRIMARY KEY ("PARTCODE", "PRODUCTCODE")
  USING INDEX PCTFREE 10 INITRANS 2 MAXTRANS 255 COMPUTE STATISTICS 
  STORAGE(INITIAL 65536 NEXT 1048576 MINEXTENTS 1 MAXEXTENTS 2147483645
  PCTINCREASE 0 FREELISTS 1 FREELIST GROUPS 1 BUFFER_POOL DEFAULT FLASH_CACHE DEFAULT CELL_FLASH_CACHE DEFAULT)
  TABLESPACE "SYSTEM"  ENABLE;
--------------------------------------------------------
--  Constraints for Table TBL_EXPORT
--------------------------------------------------------

  ALTER TABLE "TBL_EXPORT" MODIFY ("EXPORT_NO" NOT NULL ENABLE);
  ALTER TABLE "TBL_EXPORT" MODIFY ("EXPORT_DATE" NOT NULL ENABLE);
  ALTER TABLE "TBL_EXPORT" MODIFY ("EXPORTQUANTITY" NOT NULL ENABLE);
  ALTER TABLE "TBL_EXPORT" ADD PRIMARY KEY ("EXPORT_NO")
  USING INDEX PCTFREE 10 INITRANS 2 MAXTRANS 255 COMPUTE STATISTICS 
  STORAGE(INITIAL 65536 NEXT 1048576 MINEXTENTS 1 MAXEXTENTS 2147483645
  PCTINCREASE 0 FREELISTS 1 FREELIST GROUPS 1 BUFFER_POOL DEFAULT FLASH_CACHE DEFAULT CELL_FLASH_CACHE DEFAULT)
  TABLESPACE "SYSTEM"  ENABLE;
--------------------------------------------------------
--  Constraints for Table TBL_PART
--------------------------------------------------------

  ALTER TABLE "TBL_PART" MODIFY ("PARTCODE" NOT NULL ENABLE);
  ALTER TABLE "TBL_PART" MODIFY ("PARTNAME" NOT NULL ENABLE);
  ALTER TABLE "TBL_PART" MODIFY ("LIBARY" NOT NULL ENABLE);
  ALTER TABLE "TBL_PART" MODIFY ("COMMON" NOT NULL ENABLE);
  ALTER TABLE "TBL_PART" ADD PRIMARY KEY ("PARTCODE")
  USING INDEX PCTFREE 10 INITRANS 2 MAXTRANS 255 COMPUTE STATISTICS 
  STORAGE(INITIAL 65536 NEXT 1048576 MINEXTENTS 1 MAXEXTENTS 2147483645
  PCTINCREASE 0 FREELISTS 1 FREELIST GROUPS 1 BUFFER_POOL DEFAULT FLASH_CACHE DEFAULT CELL_FLASH_CACHE DEFAULT)
  TABLESPACE "SYSTEM"  ENABLE;
--------------------------------------------------------
--  Constraints for Table TBL_PRODUCT
--------------------------------------------------------

  ALTER TABLE "TBL_PRODUCT" MODIFY ("PRODUCTCODE" NOT NULL ENABLE);
  ALTER TABLE "TBL_PRODUCT" MODIFY ("PRODUCTNAME" NOT NULL ENABLE);
  ALTER TABLE "TBL_PRODUCT" ADD PRIMARY KEY ("PRODUCTCODE")
  USING INDEX PCTFREE 10 INITRANS 2 MAXTRANS 255 COMPUTE STATISTICS 
  STORAGE(INITIAL 65536 NEXT 1048576 MINEXTENTS 1 MAXEXTENTS 2147483645
  PCTINCREASE 0 FREELISTS 1 FREELIST GROUPS 1 BUFFER_POOL DEFAULT FLASH_CACHE DEFAULT CELL_FLASH_CACHE DEFAULT)
  TABLESPACE "SYSTEM"  ENABLE;
--------------------------------------------------------
--  Constraints for Table TBL_PRODUCTPLAN
--------------------------------------------------------

  ALTER TABLE "TBL_PRODUCTPLAN" MODIFY ("PLANCODE" NOT NULL ENABLE);
  ALTER TABLE "TBL_PRODUCTPLAN" MODIFY ("PRODUCTQUANTITY" NOT NULL ENABLE);
  ALTER TABLE "TBL_PRODUCTPLAN" MODIFY ("PRODUCTDATE" NOT NULL ENABLE);
  ALTER TABLE "TBL_PRODUCTPLAN" MODIFY ("PRODUCTCODE" NOT NULL ENABLE);
  ALTER TABLE "TBL_PRODUCTPLAN" ADD PRIMARY KEY ("PLANCODE")
  USING INDEX PCTFREE 10 INITRANS 2 MAXTRANS 255 COMPUTE STATISTICS 
  STORAGE(INITIAL 65536 NEXT 1048576 MINEXTENTS 1 MAXEXTENTS 2147483645
  PCTINCREASE 0 FREELISTS 1 FREELIST GROUPS 1 BUFFER_POOL DEFAULT FLASH_CACHE DEFAULT CELL_FLASH_CACHE DEFAULT)
  TABLESPACE "SYSTEM"  ENABLE;
--------------------------------------------------------
--  Ref Constraints for Table TBL_COMPONENT
--------------------------------------------------------

  ALTER TABLE "TBL_COMPONENT" ADD CONSTRAINT "F_PARTCODE_COM" FOREIGN KEY ("PARTCODE")
	  REFERENCES "TBL_PART" ("PARTCODE") ENABLE;
  ALTER TABLE "TBL_COMPONENT" ADD CONSTRAINT "F_PRODUCTCODE_COM" FOREIGN KEY ("PRODUCTCODE")
	  REFERENCES "TBL_PRODUCT" ("PRODUCTCODE") ON DELETE CASCADE ENABLE;
--------------------------------------------------------
--  Ref Constraints for Table TBL_EXPORT
--------------------------------------------------------

  ALTER TABLE "TBL_EXPORT" ADD CONSTRAINT "F_PARTCODE" FOREIGN KEY ("PARTCODE")
	  REFERENCES "TBL_PART" ("PARTCODE") ON DELETE CASCADE ENABLE;
--------------------------------------------------------
--  Ref Constraints for Table TBL_PRODUCTPLAN
--------------------------------------------------------

  ALTER TABLE "TBL_PRODUCTPLAN" ADD CONSTRAINT "F_PRODUCTCODE" FOREIGN KEY ("PRODUCTCODE")
	  REFERENCES "TBL_PRODUCT" ("PRODUCTCODE") ON DELETE CASCADE ENABLE;
