<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "//mybatis.org/DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="org.scdc.mapper.ExportMapper">

<!--  1-1. 품목목록보기///////////////////////////////-->
	<select id = "getList" resultType="org.scdc.domain.PartVO">
		<!-- > 부호를 xml로 인식하지 말라 -->
		<![CDATA[
		select 
			a.partcode, a.partname, a.nickname, a.library, a.drw_no, a.drw_img, a.common, a.remark, b.stockQuantity 
		from tbl_part a, tbl_stock b 
		where a.partcode=b.partcode
		]]>
	</select>
	
<!--  1-1-1. 품목목록보기 with page ///////////////////////////////-->	
	<select id="getListWithPaging" resultType="org.scdc.domain.PartVO" >
	
		<![CDATA[
			select partCode, partName, nickName, library, drw_No, drw_Img, common, remark
			from (select rownum rn, partCode, partName, nickName, library, drw_No, drw_Img, common, remark
			    from (select * from tbl_Part)
			    where rownum <=(#{pageNum}*#{amount})	) 
			where rn >((#{pageNum}-1)*#{amount})
		]]>
	
	</select>
<!-- 총글 개수 -->	
	<select id="count" resultType="int">
		select count(*) from tbl_part
	</select>
	
	<select id="getListFromProduct" resultType="org.scdc.domain.ExportProductVO">
		<![CDATA[
		SELECT 
		   a.partcode, b.partname, b.nickname, c.stockquantity
		FROM tbl_component a, tbl_part b, tbl_stock c
		WHERE a.partcode=b.partcode and b.partcode=c.partcode
		AND a.productcode=(select productcode from tbl_component where productname=#{productName}
		]]>
	</select>
	
	<select id="getStockQuantity" resultType="org.scdc.domain.StockVO">
		<![CDATA[
		select b.stockquantity
		from tbl_component a, tbl_stock b
		where a.partcode=b.partcode
		AND a.partcode=10001
		]]>
	</select>
	
	<select id="getSelectList" resultType="org.scdc.domain.PartVO">
		<![CDATA[
		select 
			a.partcode, a.partname, a.nickname, a.library, a.drw_no, a.drw_img, a.common, a.remark, b.stockQuantity 
		from tbl_part a, tbl_stock b 
		where a.partcode=#{productCode}
		]]>
	</select>	
	
<!--  1-2. 재고목록보기  ///////////////////////////////-->	
	<select id="getStockList" resultType="org.scdc.domain.StockVO" >
	
	<![CDATA[ 
		select 
         stock_no, stock_date, stockQuantity, a.partCode 
      from tbl_part a, tbl_stock b 
      where a.partcode=b.partcode
		]]>
		
	</select>
<!--  1-2-1. 재고목록보기  with page ///////////////////////////////-->	
	<select id="getStockListWithPaging" resultType="org.scdc.domain.StockVO" >
	
	<![CDATA[
		select stock_no, stock_date, stockQuantity, partCode
			from (select rownum rn, stock_no, stock_date, stockQuantity, partCode
			    from (select stock_no, stock_date, stockQuantity, a.partCode 
      						from tbl_part a, tbl_stock b 
     				 		where a.partcode=b.partcode)
			    where rownum <=(#{pageNum}*#{amount})	) 
			where rn >((#{pageNum}-1)*#{amount})
		]]>
		
	</select>

	<select id="getProduct" resultType="org.scdc.domain.ProductVO">
		<![CDATA[
		select * from tbl_product
		]]>
	</select>	
	
	<select id="getSelectProduct" resultType="org.scdc.domain.PartVO">
		<![CDATA[
		select 
			distinct a.partcode, a.partname, a.nickname, a.library, a.drw_no, a.drw_img, a.common, a.remark, b.stockQuantity 
		from tbl_part a, tbl_stock b, tbl_component c
		where a.partcode=c.partcode
		AND c.productcode=#{productLists}
		]]>
	</select>	
	
	<!-- 엑셀 만들기 -->
	<select id = "makeExcel" resultType="org.scdc.domain.PartVO">
		<![CDATA[
		select 
			distinct a.partcode, a.partname, a.nickname, a.library, a.drw_no, a.drw_img, a.common, a.remark, b.stockQuantity 
		from tbl_part a, tbl_stock b 
		]]>
	</select>
	
	<!-- 리포트엑셀 만들기 -->
	<select id = "makeReportExcel" resultType="org.scdc.domain.ReportVO">
		<![CDATA[
		select 
			distinct a.partcode, a.partname, a.nickname, a.library, a.drw_no, a.drw_img, a.common, a.remark, b.stockQuantity, c.unitprice, b.stockquantity*c.unitprice as totalPrice
		from tbl_part a, tbl_stock b, tbl_contract c
		]]>
	</select>
	
<!--  1-3. 출고목록보기  ///////////////////////////////-->	
	<select id="getExportList" resultType="org.scdc.domain.ExportVO" >
	
	</select>
	
	<!-- 리포트 만들기 -->
	<select id = "report" resultType="org.scdc.domain.ReportVO">
		<![CDATA[
		select 
			distinct a.partcode, a.partname, a.nickname, a.library, a.drw_no, a.drw_img, a.common, a.remark, b.stockQuantity, c.unitprice, b.stockquantity*c.unitprice as totalPrice
		from tbl_part a, tbl_stock b, tbl_contract c 
		]]>
	</select>
	
	<!-- 선택된 그룹별 품목정보 가져오기 (리포트) -->
	<select id="getSelectLibrary" resultType="org.scdc.domain.ReportVO">
		<![CDATA[
		select 
		    distinct a.partcode, a.partname, a.nickname, a.library, a.drw_no, a.drw_img, a.common, a.remark, b.stockQuantity, c.unitprice, b.stockquantity*c.unitprice as totalPrice
		from tbl_part a, tbl_stock b, tbl_contract c 
		where library=#{ libraryLists }
		]]>
	</select>	
	
	<select id="getLibrary" resultType="org.scdc.domain.PartVO">
		<![CDATA[
		select distinct library from tbl_part
		]]>
	</select>
	
	
<!--	제품코드찾기
	 <select id="productCode" resultType="org.scdc.domain.ComponentVO">
		<![CDATA[
 		select * from tbl_component where productcode=#{productcode }
		]]>	
	</select>
	 																		-->	
	
<!--  출고요청하기 -->

 	<insert id="requestPart">
 		insert into tbl_process
 		values(export_no.nextval,#{req_no},#{partCode},#{process},#{exportQuantity},#{makeDate})
 	</insert>
	
<!--  3. 출고///////////////////////////////-->
	
	<insert id="insert">
		insert into tbl_export(export_no, exportQuantity, partCode)
   			values(seq_board.nextval, #{exportQuantity},#{partCode})

	</insert>
	
<!--  3-1. 출고///////////////////////////////-->
	<insert id = "insertSelectKey">
		<selectKey>

		</selectKey>

	</insert>
	
<!--  4. 재고 업데이트///////////////////////////////-->
	
	<update id ="update">
		update tbl_stock set stockQuantity=#{stockQuantity}-#{exportQuantity}, 
    	stock_date=sysdate where partCode =#{partCode}

	</update>

	
</mapper>